{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="post" action="">
            {{ form_export.hidden_tag() }}
            <div class="form-group">
                {{ form_export.submit(class="btn btn-outline-info") }}
            </div>
        </form>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Search Freely!</legend>
                <div class="form-group">
                    {{ form.num_SI.label(class="form-control-label") }}
                    {% if form.num_SI.errors %}
                        {{ form.num_SI(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.num_SI.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.num_SI(class="form-control form-control-lg") }}
                    {% endif %}

                </div>

                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>

            </fieldset>
        </form>
    </div>

    <table class="table table-bordered">
        {% if result != None %}

            <label class=" border-bottom lg-4">{{ "Triples result : " }}</label>
            <thead>
            <tr>
                <th>A_sector_id</th>
                <th>B_sector_id</th>
                <th>C_sector_id</th>
            </tr>
            </thead>
            {% for onelist in result %}
                <tr>
                    {% for one in onelist %}
                        <td>{{ one }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        {% endif %}
    </table>


{% endblock content %}