{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="content-section">
            <h3>Please choose a database file to upload</h3>
            <br>
            <br>


            <br><br>
            <form action="" method="post" enctype=multipart/form-data>
                  <label for="database"> Table Name:</label>
                  <select name="table" id="database" class="selectpicker">
                    <option>tbCell</option>
                    <option>tbKPI</option>
                    <option>tbPRB</option>
                    <option>tbMROData</option>
                  </select>
                <br>
                <br>
                <p><input type=file name=file></p>
                <input type=submit value=Upload>
            </form>
            <br>
            <br>


        </div>
    </div>

    <p>Filename: {{ filename }}</p>




{% endblock content %}